
<div class="container-top">
	<a href="#"><img src="/images/btn-todo.png"> </a> 
	<div class="text-inicio">
		<img src="/images/user-green.png">
		<h2>Usuarios - Crear Usuarios</h2>
		{{CrearUsuario}}
	</div>

	<div id="btn-crear">
		<img src="/images/btn-crear.png">
	</div>

	<div><br></div>
	<div class="text-inicio">
		<img src="/images/user-green.png">
		<h2>Usuarios - Editar Usuario</h2>
		{{EditarUsuario}}
	</div>

	<div id="btn-editar">
		<img src="/images/btn-editar.png">
	</div>

	</div>