
<div class="container-top">
  <a href="#"><img src="/public/images/btn-todo.png"> </a> 
  <div class="text-inicio">
    <img src="/images/services-green.png">
    <h2>Servicio - Crear Servicio</h2>
    {{CrearServicio}}
  </div>

  <div id="btn-crear">
    <img src="/images/btn-crear.png">
  </div>

  <div><br></div>
  <div class="text-inicio">
    <img src="/images/services-green.png">
    <h2>Servicio - Editar Servicio</h2>
    {{EditarServicio}}
  </div>

  <div id="btn-editar">
    <img src="/images/btn-editar.png">
  </div>

  </div>