<div class="container">
    <div class="row">
        <div class="col-9 offset-1">
            <h1>Bienvenido Admin</h1>
            <a href="/">← Back To Home</a>
            <div class="row">
                <h2>Suscripciones a vencer</h2>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Id servicio</th>
                            <th scope="col">Fecha a vencer</th>


                        </tr>
                    </thead>

                    {{#each mainTable}}

                    <tr class="col fila-{{id}}">
                        <td contenteditable="true" class="nombre">{{UsuarioId}}</td>
                        <td contenteditable="true" class="correo">{{ServicioId}}</td>
                        <td contenteditable="true" class="telefono">{{fechaFinal}}</td>
                    </tr>
                    {{/each}}

                </table>


                <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
