<div id="promos">

  <div class="slideshow-container">

    <div class="mySlides">
      <img src="/images/car-1.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <img src="/images/car-2.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <img src="/images/car-3.jpg" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="dot-position">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>

  </div>
  <img id="frame-setup2" src="/images/carousel-set-up-bottom.png" alt="frame-setup2" />
</div>


<div class="container">
  <div class="text-home">
    <img src="/images/user-white.png" alt="Plan Mensual">
    <br><br>
    <h2>PLAN MENSUAL</h2>
    <br>
    <p>Un único plan, una ubicación, un mes. Inscríbete a la clase de tu preferencia por 30 días y disfruta de
      los beneficios. Sin record de asistencia, sin vigencias incomodas, cuando quieras y donde quieras. </p>
  </div>

  <div class="text-home">
    <img src="/images/heart.png" alt="Usuarios">
    <br><br>
    <h2>USUARIOS</h2>
    <br>
    <p>Nuestros usuarios tienen acceso a todas nuestras ubicaciones, las cuales les brindan los espacios y
      equipos necesarios para asistir a sus clases preferidas. Contamos con estacionamiento gratuito y nuestras
      cinco ubicaciones para elegir.
    </p>
  </div>

  <div class="text-home">
    <img src="/images/services-white.png" alt="Servicios">
    <br><br>
    <h2>SERVICIOS</h2>
    <br>
    <p>En nuestras instalaciones podrás disfrutar de nuestra variedad de clases disponibles, con instalaciones
      equipadas y espacios ergonómicos para tu mayor comodidad. Contamos con equipos de la más alta tecnología
      para brindarles a nuestros usuarios la más alta calidad de entrenamiento.
    </p>
  </div>

</div>

