
<div class="container-top">
  <div class="text-inicio">
    <img src="/images/services-green.png">
    <h2>Servicio - Vigente</h2>
    {{ServiciosVigentes}}
  </div>

  <div><br></div>

  <div class="text-inicio">
    <img src="/images/services-green.png">
    <h2>Servicios - Disponibles</h2>
    {{ServiciosDisponibles}}
  </div>

  </div>